#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 400px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
}

.site-layout-background {
  background: white;
}
.main-content {
  padding: 50px;
  margin: auto;
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
